#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.editor {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 0.5rem;
  min-height: 100px;
  width: 40vw;
  min-width: 500px;
  text-align: left;
}

.usersDialog {
  background-color: #fff;
  border: 1px solid #ccc;
  
  border-radius: 0.5rem;
  width: 120px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

.user {
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: #f0f0f0;

  &:focus {
    background-color: #e0e0e0;
    border: 1px solid #666;
  }

  &:hover {
    background-color: #e0e0e0;
  }
}

