#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.editor {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 0.5rem;
  min-height: 100px;
  width: 40vw;
  min-width: 500px;
  text-align: left;
}
